/*  
    SEQUENCIA DE FUNCIONALIDADES
    - GERAIS
    - LOGIN
    - NAVBAR
*/

/*GERAIS*/
.titulo-lista {
    display: inline-block !important;
}

.navbar-vertical.navbar-expand-xs {
    z-index: 1020;
}

.text-danger {
    font-size: 15px;
}

.btn {
    padding: 8px 13px !important;
}

.color-red {
    color: red !important;
}

.color-blue {
    color: blue !important;
}

.btn-border-red {
    border: 1px solid red !important;
}

.btn-border-blue {
    border: 1px solid blue !important;
}

.swal-modal .swal-text {
    text-align: center !important;
}

.text-italic{
    font-style: italic;
}

.btn-light {
    background-color: #ececec !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #363f4d !important;
}

/*MESSAGE ALERT*/
.sh-toast-container {
    font-size: 18px;
    max-width: 100%;
}

/*LOGIN*/
.tela-login .titulo {
    font-size: 35px;
}

.tela-login .descricao {
    font-style: italic;
}

/*NAVBAR*/
.acesso-usuario .bloco-principal {
    text-align: center;
}

.acesso-usuario .bloco-principal p.nome-usuario {
    margin-top: 5px;
}

.sidenav .navbar-brand {
    padding: 10px 0;
}
